body {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding: 15px 25px 15px 5px;
    margin-left: 52px;
    margin-right: 52px;
    background-color: #EFF0D2;
}

header {
    margin-left: 0px;
    margin-right: 5px;
    width: 100%;
    padding: 5px 5px 10px 5px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #24C499;
}

h1,
h2,
h3 {
    font-family: "Segoe UI", fantasy, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1 {
    margin-top: 25px;
    margin-bottom: 5px;
    color: #3431E6;
    text-shadow: 2px 2px 3px #000000;
}
